<div class = "alert alert-warning w-75 mx-auto">
  <p>
    Set Password example illustrates validation with error messages displayed all
    at once.  When all data assurance assertions are passed, the error messages
    are still visible with appropriate visual changes (i.e., changed background
    color to indicate validation success).    
  </p>
  <p>
    This component also illustrates dependencies feature of ng-validify.  Using
    <strong>deps</strong> validator creates linkages between fields such that
    when a value of a dependency changes, the validators for all dependents are 
    rerun and their validation statuses are updated.
  </p>
</div>
<form class = "set-password-form w-75 mx-auto mt-3" #f = "ngForm" novalidate>
  <h4 class = "text-center mb-4">Set Password</h4>
  <div class="form-group">
    <label>Password</label>
    <input name = "password" type="password" class="form-control" ngModel
     placeholder="Provide new password" autocomplete = "off" vRequired 
     vMinLength = "8" vMaxLength = "10">
    <div class = "errors"></div>
  </div>
  <div class="form-group">
    <label>Confirmation password</label>
    <input ngModel name = "confirmationPassword" type="password" 
     vDeps = "password" vEqualsTo = "password" class="form-control" 
     placeholder="Retype new password" autocomplete = "off">
    <div class = "errors"></div>
  </div>
  <button [disabled] = "f.invalid" type="submit" class="btn btn-primary btn-block">
    <strong>Set Password</strong>
  </button>
</form>
