<nav class="navbar navbar-light bg-faded">
  <div class = "container">
    <h1 class="navbar-brand mb-0">ng-validify examples</h1>
  </div>
</nav>  
<div class = "container mt-4">
  <div class = "row">
    <div class = "col col-md-auto pt-0 px-4">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink = "login" routerLinkActive = "active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "set-password" routerLinkActive = "active">Set Password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "sign-up" routerLinkActive = "active">Sign Up</a>
        </li>
      </ul>
    </div>
    <div class = "col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
